
.group-1-WCd {
  background-color: rgba(17, 15, 38, 0.9499999881);
  border-radius: 3.15rem;
  box-sizing: border-box;
  height: 4.3rem;
  padding: .8rem 2rem 2rem 1.1rem;
  width: 130px;

  .ellipse-1-gFX {
    background-color: #a9d42d;
    border-radius: 50px;
    height: 2.8rem;
    width: 2.8rem; 
    
  }
}

